body { padding: 100px; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.circle {
  fill: teal;
  fill-opacity: 0.7;
  stroke: black;
}

.circle:hover {
  fill: red;
}

#chart svg { background: rgb(220,220,220); }